{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <img width="26" height="28" alt="Twig" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffAx8KERFUmL93AAACK0lEQVQ4y5WT20sUURzHP6O7i7Kh1i6ZRayJZVbazYhuloERFRRFT0HYQw8JvUUPERELvQa9+QeIBXaFEMkE01ZbRAwEI4pdIWXzrjuzl5k5c6aHii7CjPN9O7/Dh9/n/M45Cq7poZnebUvR6biRKH1/bZ7VJQb0VrXn2yIAb8KsPqP+znRbFJ4wDAz/qipumM2LjrkLuV1q4i6e8jLSoT+MrawXOEHvAOu2GgjcwXse24/S0OKtIzy7omO3wz2voLiUx3gNVd7AV8WiOpeRyed4Gk6C/BqzQtdKpy56A6uwgkbYWLiRHgPGvKhatRnsOOSVgdI6L6C2T0WOwHyrus5RdVAZ/OcJZnZqyI/9jdb2M0lH0ApaZX8+E5hbs9RO5h6cvbnSxvf3QgYpZjFWLa6KHi2GtLZYNNujCdymKvxGJRz5Wn5faQo8BTuk2IkW5a0rKGVmP0BKnowW2v2nBfacfl1+GcdFVRPZeoAmQLm13C0JhUWGuR1OHeOAkPl66AQg8B3TT1gRhtQcVQ8Sj6Q0EYHLABzPmZMBitEtDJczyoWaVlNGNwB8BmaT52lAtXTdERzgkGqsXwwlI0O1UAOULHfxCQWhOILHAH+3QVO7mf9ZMX1+CskWCr+L6iDKtzo2zzYmYcL3oUTZI8mRLSiqhpQTeBhrkzBmptTAOJXCt7t8Y9GMmC1fWnu0b2+F0z12+crOTU/4gskDYgjZMDBSf0r83uvjxH/gD8OQ4n9QfkrdAAAAAElFTkSuQmCC" />
        </span>
        <strong>Twig Extensions</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Twig Extensions</h2>
    {% for extension, data in collector.extensions %}
        {% set parts = data.parts %}
        <h3> {{ extension }} </h3>
        <strong>Service:&nbsp;</strong> {{ data.service }}
        <table>
            {% set max = 0 %}
            <thead>
                <tr>
                    {% for part, data in parts %}
                        {% set max = (data|length > max) ? (data|length) : max %}
                        <th style="width:{{ 100/(parts|length) }}%">{{ part|title }}</th>
                    {% endfor %}
                <tr/>
            </thead>
            <tbody>
                {% for i in 0..(max-1) %}
                    <tr>
                        {% for part, data in parts %}
                            <td>{{ data[i]|default('') }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
